<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} - entity-tagger</title>
        <!-- Bootstrap5 CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
              crossorigin="anonymous">
        <!-- Bootstrap5 JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
                crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <!-- data tables -->
        <link rel="stylesheet" type="text/css"
              href="https://cdn.datatables.net/v/bs5/dt-1.13.1/b-2.3.3/b-colvis-2.3.3/fc-4.2.1/fh-3.3.1/kt-2.8.0/r-2.4.0/sc-2.0.7/sb-1.4.0/sp-2.1.0/sl-1.5.0/datatables.min.css"/>
        <script type="text/javascript"
                src="https://cdn.datatables.net/v/bs5/dt-1.13.1/b-2.3.3/b-colvis-2.3.3/fc-4.2.1/fh-3.3.1/kt-2.8.0/r-2.4.0/sc-2.0.7/sb-1.4.0/sp-2.1.0/sl-1.5.0/datatables.min.js">
        </script>
        <!-- mark.js for text highlighing -->
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js">
        </script>
        <!-- define the root URL for my javascript code -->
        <script type="text/javascript">
         const INIT_ROOT = {{ init_root|tojson|safe }};
        </script>
        <!-- source in my javascript -->
        <script src="{{ js_tb }}"></script>
        <script src="{{ js_init }}"></script>
        <!-- required by bootstrap -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
         mark.unassigned {
             background-color: lightgrey;
             border: 2px;
             border: 2px solid black;
         }

         {% for label in labels %}
         .{{label.name}}-label-check {
             background-color: {{label.display_colour}};
             border: 2px;
             border: 2px solid {{label.colour}};
             border-radius: 10px;
             font-weight: bold;
             color: {{ label.font_colour }}
         }
         {% endfor %}
        </style>
    </head>
    <body>
        <!-- A spacing container -->
        <div class="p-4">
            <!-- A title and tabs container -->
            <div class="pb-4">
                <h2 class="h2">{{title}}</h2>
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="source-data-tab"
                                data-bs-toggle="pill" data-bs-target="#source-data"
                                type="button" role="tab" aria-controls="source-data"
                                aria-selected="true">
                            Source Data
                        </button>
                    </li>
                </ul>
            </div>
            <!-- Tab panes -->
            <div class="tab-content" id="pills-tabContent">
                <!-- Main data tab -->
                <div class="tab-pane fade show active" id="source-data" role="tabpanel"
                     aria-labelledby="source-data-tab">
                    <table id="data" class="table table-striped table-bordered nowrap"
                           width="100%">
                        <!-- the tfoot element needs to be present and populated with JS -->
                        <tfoot><tr></tr></tfoot>
                    </table>
                </div>
                <div class="pt-5 pxy-4">
                    <h4 class="h4">Labels</h4>
                    <div class="rounded border border-3 overflow-scroll container-fluid bg-light">
                        {% for label in labels %}
                        <div class="p-2" style="float: left">
                            <div style="float: left" class="p-1 {{label.name}}-label-check">
                                <input class="label-check p-4"
                                       type="checkbox"
                                       id="{{ label.name }}"
                                       name="{{ label.name }}"
                                       value="{{ label.name }}"
                                       title="{{ label.desc }}">
                                <label title="{{ label.desc }}"
                                       for="{{ label.name }}">
                                    {{ label.name }}
                                </label>
                            </div>
                        </div>
                        </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="pt-5 pxy-4">
                    <h4 class="h4">Current cell data</h4>
                    <div class="rounded border border-3 overflow-scroll container-fluid bg-light"
                         style="height: 200px">
                        <p class="p-2" id="current-cell"></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
